<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%le %-1r [%c{1}:%L] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.containersolutions.mesos" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
